/* Resets and Resizes */
* {
margin: 0;
}

html,body {
  height: 100%;
}

body {
    background-color: rgba(240, 240, 240, 0.6);
}


/* Main Container and Background Color*/
.main-container {
  position: relative;
}

body {
  font-family: 'Raleway', sans-serif;
}

header {
  background-color: #9c9a97;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  padding: 3px;
}

/* Footer */
footer {
  width: 100%;
  position: absolute;
  bottom: 10px;
  display:flex;
  justify-content:space-around;
}

#links {
  margin: 0px auto;
}

#links a {
  margin: 5px 10px;
}