/* Resets and Resizes */
* {
margin: 0;
}

html,body {
  height: 100%;
}

/* Main Container and Background Color*/
.main-container {
  position: relative;
}

#background-img {
    background-color:#f0f0f0;
    content: ' ';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}

body {
  font-family: 'Raleway', sans-serif;
}

header {
  background-color: #9c9a97;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  padding: 3px;
}

/* Footer */
footer {
  width: 100%;
  position: absolute;
  bottom: 10px;
  display:flex;
  justify-content:space-around;
}

#links {
  margin: 0px auto;
}

#links a {
  margin: 5px 10px;
}